Board2SMTP(1).json
{
  "name": "Board2SMTP",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "[REDACTED]"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getAll",
        "boardId": "[YOUR_BOARD_ID]",
        "groupId": "[YOUR_GROUP_ID]",
        "limit": 1
      },
      "name": "Fetch Board Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [208, 0],
      "id": "[REDACTED]",
      "credentials": {
        "mondayComApi": {
          "id": "[REDACTED]",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "[YOUR_FROM_EMAIL]",
        "toEmail": "={{ $json.column_values[2].text }}",
        "subject": "={{ $json.column_values[3].column.title }}",
        "text": "=",
        "html": "={{ $json.column_values[4].text }}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [400, 0],
      "id": "[REDACTED]",
      "credentials": {
        "smtp": {
          "id": "[REDACTED]",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Fetch Board Item", "type": "main", "index": 0 }]]
    },
    "Fetch Board Item": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "[REDACTED]",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "[REDACTED]"
  },
  "id": "[REDACTED]",
  "tags": []
}
