Board2SMTP(1).json
{
  "name": "Board2SMTP",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5d479a9c-2dbe-4226-8326-1ab13b7f8891"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getAll",
        "boardId": "2035092071",
        "groupId": "emailed_items__1",
        "limit": 1
      },
      "name": "Fetch Board Item",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "17c84ecf-9712-4cd7-b00f-166d3c9f7134",
      "credentials": {
        "mondayComApi": {
          "id": "UBhNpWLvoMRIC1A2",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "n@hudzik.info",
        "toEmail": "={{ $json.column_values[2].text }}",
        "subject": "={{ $json.column_values[3].column.title }}",
        "text": "=",
        "html": "={{ $json.column_values[4].text }}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "37c24710-7fee-40c0-891a-a131d84cc203",
      "credentials": {
        "smtp": {
          "id": "NtUv1TZTPIdMT1xA",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Board Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Board Item": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1171ae1b-9b8a-4c3f-8782-afee4f243a3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f9437d872b928b9f95f49ca1971acfe5b3331adb2c174e37cbb82736d905624"
  },
  "id": "Eucf98orF0D7UiFJ",
  "tags": []
}